.login-page{
    background: #dadada;
    background-image: url("/img/web.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.register-page{
    background: #dadada;
    background-image: url("/img/web.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

/* Onboarding css stats */
*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div[class*="-progress"] {
  width: 850px;
  margin: 30px auto;
  text-align: center;
}
div[class*="-progress"] .circle,
div[class*="-progress"] .bar {
  display: inline-block;
  background: #fff;
  width: 60px; height: 60px;
  border-radius: 60px;
  margin-top: 10px;
  margin-bottom: 50px;
  border: 1px solid #d5d5da;
  pointer-events:none
}
div[class*="-progress"] .bar {
  position: relative;
  width: 80px;
  height: 6px;
  top: 6px;
  margin-left: -5px;
  margin-right: -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
div[class*="-progress"] .circle .label {
  display: inline-block;
  width: 52px;
  height: 52px;
  line-height: 52px;
  border-radius: 52px;
  margin-top: 3px;
  color: #b5b5ba;
  font-size: 16px;
}
div[class*="-progress"] .circle .title {
  color: #b5b5ba;
  font-size: 14px;
  line-height: 30px;
}

/* Done / Active */
div[class*="-progress"] .bar.done,
div[class*="-progress"] .circle.done {
  background: #eee;
}
div[class*="-progress"] .bar.active {
  background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
div[class*="-progress"] .circle.active {
  cursor: pointer;
  pointer-events:auto;
}
div[class*="-progress"] .circle.done {
  cursor: pointer;
  pointer-events:auto;
}
div[class*="-progress"] .circle.done .label {
  color: #FFF;
  background: #8bc435;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
div[class*="-progress"] .circle.done .title {
  color: #444;
}
div[class*="-progress"] .circle.active .label {
  color: #FFF;
  background: #0c95be;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
div[class*="-progress"] .circle.active .title {
  color: #0c95be;
}

/* Onboarding css ends */

.register-box {
    margin: 4% auto;
}

.btn-primary {
  color: #fff;
  background-color: #ff6251;
  border-color: #e34840;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #e34840;
  border-color: #d92c30;
}
.btn-primary:hover {
  color: #fff;
  background-color: #e34840;
  border-color: #d92c30;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #e34840;
  border-color: #d92c30;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #e34840;
  border-color: #d92c30;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #ff6251;
  border-color: #e34840;
}
.btn-primary .badge {
  color: #ff6251;
  background-color: #fff;
}


.skin-blue .main-header .logo {
    background-color: #1e282c;
}

.skin-blue .main-header .logo:hover {
    background-color: #222d32;
}

.skin-blue .main-header .navbar {
    background-color: #222d32;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover{
    background-color: #1e282c;
}

.skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #222d32;
}

.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
    color: #fff;
    background: #1e282c;
    border-left-color: #b8c7ce;
}

.skin-blue .main-header li.user-header {
    background-color: #222d32;
}

.box.box-primary {
    border-top-color: #222d32;
}

.form-control:focus {
  border-color: #222d32;
  box-shadow: none;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #ff6251;
    border-color: #ff6251;
}

.content-wrapper {
	flex-direction: column;
	display: flex;'
}

.content {
	flex-grow: 1;
	flex-direction: column;
	display: flex;
	width: 100%;
}

input[type="radio"] {
	margin-left:10px;
}
